.amazing {
    width: 100%;
    height: 300px;
    padding: 20px 2px;
border-radius: 16px;
background: red;
}
.amazing .swiper {
    width: 100%;
    height: 100%;
  }

  .amazing .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  }
  .amazing .swiper-slide:first-child {
background-color: transparent;
  }
  .amazing .swiper-slide:first-child img:first-child {
width: 92px;
height: 77px;
  }
  .amazing .swiper-slide:first-child img:nth-child(2) {
width: 145px;
height: 115px;
  }
  .amazing .swiper-slide:first-child a{
    text-decoration: none;
    color: #fff;
  }
  .amazing .swiper-slide:nth-child(2) {
border-radius: 0 8px 8px 0;
  }
  .amazing .swiper-slide:last-child{
    border-radius: 8px 0 0 8px;
  }
  .amazing .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .amazing .swiper-slide.goods{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
  }
  .amazing .swiper-slide.goods .img{
    width: 150px;
    height: 150px;
  }
  .amazing .swiper-slide.goods .prices{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    
  }

  .amazing .swiper-slide.goods .prices .discont{
 display: flex;
 align-items: start;
 background-color:#d32f2f;
 padding:2px 4px;
 border-radius: 8px;
 font-size: 14px;
 color: #fff;
  }
  .amazing .swiper-slide.goods .prices .real-price{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

  }
  .amazing .swiper-slide.goods .prices .real-price .price{
    font-size: 16px;
    font-weight: 700;
    color: #3f4064;
    line-height: 2.1em;
  }
  .amazing .swiper-slide.goods .prices .real-price .price .currency{
font-size: 10px;
  }
  .amazing .swiper-slide.goods .prices .real-price .d-price{
color: #c0c2c5;
font-weight: 700;
font-size: 12px;
margin-left: 20px;
  }
  .amazing .swiper-slide.goods .bar{
    background-color: #f0f1f1;
    width: 100%;
    height: 4px;
position: relative;

  }
  .amazing .swiper-slide.goods .bar .bar-bg{
    width: 60%;
    background-color: #d32f2f;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
  }
