footer{
    background-color: #fff;
    padding: 25px 25px;
}
.footer1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 500px;
    width: 100%;
    margin: 25px 10px;
}
.footer1 .tel-su{
    display: flex;
    column-gap: 10px;

}
.footer1 .tel-su div{
color: #3f4064;
font-weight: bold;
}
.footer1 .log-support{
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 100%;
margin: 0 auto;
}
.footer1 .log-support .logo-support{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.footer1 .menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 30px;

}
.footer1 .menus .menu{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-flow: column nowrap;
    width: 100%;

    row-gap: 15px;
}
.footer1 .menus .menu a{
text-decoration: none;

}
.footer1 .menus .menu h4{
    /* height: 30px; */
}
.footer1 .menus .menu:last-child .social{
display: flex;
justify-content: space-between;
margin: 25px;

}
.footer1 .menus .menu:last-child .subcrib p{
    margin-bottom: 15px;;
}
.footer1 .menus .menu:last-child .subcrib form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.footer1 .menus .menu:last-child .subcrib form .group-row{
background: #eee;
}
.footer1 .menus .menu:last-child .subcrib form input{
    height: 40px;
    border-radius: 10px;
    width: 200px;
    border-color: #eee;
    background-color:#eee;
}
.footer1 .menus .menu:last-child .subcrib form button{
    padding:6px ;
    height: 40px;
border-radius: 6px 8px;}

.footer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3C4B6D;
    height:70px;
    width: 95%;
    margin: 30px 20px;
    border-radius: 16px;
    padding: 25px 0;
}
.footer2 .app-title{
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer2 .app-title img{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-left: 20px;
}
.footer2 .app-title h3{
    color: #fff;
    font-size: 22px;
}
.footer2 .app-link{
    margin-left: 20px;
}
.footer3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer3 p{
text-align: center;
}
.footer4 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
   margin: 0 auto;
gap: 1px;
flex-wrap: wrap;
width: 100%;  
}
.footer4 a{
    padding: 20px;
   border-bottom: 1ps solid #e0e0e2;
height: 80px;
width: 180px;
gap: 1px;
background: #f0f1f1;
padding: 0 20px;
display: flex;
align-items: center;
flex-grow: 1;
}
.footer4 a img{
    height: 20px;
width: 100px;
}