.services{
    width: 100%;
    height: 96px;
    padding: 8px 12px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services .service{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.services .service a{
    display: flex;
    flex-flow: column nowrap;
    width: 100px;
    text-decoration: none;
 
    
}

.services .service a .img{
    height: 52px;
    width: 52px;
}
.services .service a .img img{
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.services .service a .caption{
    font-size: 12px;;
    font-weight: bold;
}
