
.stories{
    height: 155px;
    margin-top: 15px;
    width: 100%;
}
.stories .swiper {
  width: 100%;
  height: 100%;
}

.stories .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.stories .swiper-slide a{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    align-items: center;
    row-gap: 8px;
     text-decoration: none;
}
.stories .swiper-slide a .img{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 2px solid red;
    padding: 2px;;
   
}

.stories .swiper-slide a .img span{
font-style: 11px;
}

.stories .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.stories .swiper-button-disabled{
    opacity: 0;
}
.stories .swiper-button-next{
    
background: #fff;
border: 1px solid gray;
width: 40px;
height: 40px;
border-radius:50%;

}
.stories .swiper-button-next::after{
font-size: 14px;
font-weight: bold;
}
.stories .swiper-button-prev{
    
background: #fff;
border: 1px solid gray;
width: 40px;
height: 40px;
border-radius:50%;

}
.stories .swiper-button-prev::after{
    font-size: 14px;
font-weight: bold;
}